<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/logo"
        android:label="RePepHole"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.TkFinalProject"
        tools:targetApi="31">
        <activity
            android:name=".UI.RefundActivity.Refund"
            android:exported="true"
            android:screenOrientation="portrait"/> <!-- android:screenOrientation="portrait" -->
        <activity
            android:name=".UI.Progress.progressSecond"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".UI.Progress.progerssFirst"
            android:exported="false"
            android:screenOrientation="portrait"
            />
        <activity
            android:name=".UI.SelectPhone.SelectNewPhone"
            android:exported="false"
            android:screenOrientation="portrait"
            />
        <activity
            android:name=".UI.LogOut.LogOut1"
            android:exported="false"
            android:screenOrientation="portrait"
            />
        <activity
            android:name=".UI.UpdateUser.UpdateUser"
            android:exported="false"
            android:screenOrientation="portrait"
            />
        <activity
            android:name=".UI.FirstPage.FirstPage"
            android:exported="false"
            android:screenOrientation="portrait"
            />
        <activity
            android:name=".UI.SignUp.SignUp"
            android:exported="false"
            android:screenOrientation="portrait"
            />
        <activity
            android:name=".UI.Login.login"
            android:exported="false"
            android:screenOrientation="portrait"
            />
        <activity
            android:name=".UI.mainactivity.MainActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>